#header {
  height: var(--lumo-size-xl);
}
#header img {
  border-radius: 50%;
  height: var(--lumo-size-s);
  margin-left: auto;
  margin-right: var(--lumo-space-m);
  overflow: hidden;
  background-color: var(--lumo-contrast);
}
#header h1 {
  font-size: var(--lumo-font-size-l);
  margin: 0;
}
#logo {
  box-sizing: border-box;
  box-shadow: inset 0 -1px var(--lumo-contrast-10pct);
  padding: var(--lumo-space-s) var(--lumo-space-m);
}
#logo img {
  height: calc(var(--lumo-size-l) * 1.5);
}
#logo h1 {
  font-size: var(--lumo-font-size-xl);
  font-weight: 600;
  margin: 0 var(--lumo-space-s);
}

vaadin-tab {
  font-size: var(--lumo-font-size-s);
  height: var(--lumo-size-l);
  font-weight: 600;
  color: var(--lumo-body-text-color);
}

vaadin-tab:hover {
  background-color: var(--lumo-contrast-5pct);
}

vaadin-tab[selected] {
  background-color: var(--lumo-primary-color-10pct);
  color: var(--lumo-primary-text-color);
}

.centered-content{
  margin: 0px auto;
  max-width: 100%;
  align-items: center !important;
}
.magintitle{
  margin-right: 10px;
}

v-horizontal > .v-spacing {
  width: 50px;
}

.icon{
  width: 25px;
}
h2{
  font-size: 50px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0000ff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media only screen and (min-width: 768px) {

  .preview-form {
   margin:10px 10px auto;
  }

}