/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0px auto;
  max-width: 100%;
  align-items: center !important;
}
.verticalcenter{
  margin: 0px auto;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

label {
  margin-right: 8.25em !important;
}

:host(.customtoggle) [part='label'] {
  margin-right: 7.25em;
}

vaadin-horizontal-layout > .v-spacing {
  width: 50px;
}
.rotate {
  margin: 0px auto;
  transform: rotate(-90deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.tabmargin{

  margin-right: 30px;
}

.container{
  margin: 0px auto;
  max-width: 90%;
  width: 90% !important;
}


.v-progressbar-fat .v-progressbar-wrapper {
  height: 20px;
}